.gradle
.gitkeep
build/
!gradle/wrapper/gradle-wrapper.jar
!packages/starter-lobby/src/main/**/build/
!packages/starter-lobby/src/test/**/build/

### IntelliJ IDEA ###
.idea/modules.xml
.idea/jarRepositories.xml
.idea/compiler.xml
.idea/libraries/
*.iws
*.iml
*.ipr
out/
!packages/starter-lobby/src/main/**/out/
!packages/starter-lobby/src/test/**/out/
.idea/
Rust.iml

### Eclipse ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
bin/
!packages/starter-lobby/src/main/**/bin/
!packages/starter-lobby/src/test/**/bin/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/

### Mac OS ###
.DS_Store
/libraries/common/src/main/java/ru/starmc/commons/inventory/cqrs/querry/.gitkeep